

/* src/pages/Login.css */

.wrapper-login {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: none;
}

.wrapper-login form {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.wrapper-login label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.wrapper-login input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;

}

.wrapper-login button {
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.wrapper-login button:hover {
  background-color: #0056b3;
}

.info-login {
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  height: 100%;
  max-height: 500px;
}


.info-login img{
  border-radius: 5px;
}


/* src/components/Sidebar.css */

.sidebar {
  width: 200px;
  height: 100vh;
  margin: none;
  border: none;
  background-color: #FEA82F;
  color: black;
  padding: 0 1.5rem ;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar-title {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  text-align: center;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
}

.sidebar-link {
  color: black;
  cursor: pointer;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.sidebar-link:hover {
  background-color: #FFC288;
}

.wrapper-home{
  display: flex;
  height: 100vh;
}

.container-form{
  width: calc(100% - 248px);
  display: flex;
  margin-left: 248px;
  justify-content: center;
}

.filter-section{
  width: calc(100% - 282px);
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #FFF3E2;
  padding: 1rem;
}

.info{
  width: 100%;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-block{
  background-color: white;
  width: 60%;
  margin-bottom: 1rem;
  border-radius:  10px;
  box-shadow: rgb(199, 199, 199) 2px 2px 10px;
}

.event-block ul{
  display: flex;
  padding: 0px
}

.event-block h3{
  margin-left:1.5rem;
}


.event-block p{
  margin-left: 1.5rem;
}
.event-block ul p{
  padding:  0px;
  margin: 0px;
  margin-left: 1.5rem;
}

.event-block button{
  margin: 0 0 1rem 1.5rem;
}